<div class="container-fluid">
  <mat-grid-list [cols]="4" [gutterSize]="'20px'">
    <mat-grid-tile [colspan]="4">
      <div [routerLink]="'/danh-sach'" class="kinh-item kinh-item--now">
        <mat-card [class.mat-elevation-z2]="true">
          <div>
            <h1>Thời TÝ | Kinh tứ thời nhựt tụng</h1>
            <ol class="kinh-list">
              <li>Niệm hương</li>
              <li>Khai kinh</li>
              <li>Kinh Ngọc Hoàng</li>
              <li>Phật Giáo Tâm Kinh</li>
              <li>Tiên Giáo Tâm Kinh</li>
              <li>Nho Giáo Tâm Kinh</li>
              <li>Dâng rượu</li>
            </ol>
            <button mat-flat-button color="primary">Mở kinh ngay</button>
          </div>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
